[mysqld]

default-authentication-plugin=mysql_native_password

# Turn this off, it cuts memory consumtion in half.
performance_schema = off

###
 # And finally, very very importantly, unless you specifically intend to use
 # multiple machines in a master/slave configuration to handle your databases,
 # you should disable binary logging by commenting it out with a ‘#’ character, like so:
 #
 # https://codedmemes.com/lib/configure-mysql-os-x/
 ##
log-bin = mysql-bin

; skip_name_resolve # Never enable this, it breaks local.

# Performance nobs.
innodb_buffer_pool_size=4MB
innodb_log_buffer_size=4MB # Lower than this breaks.
tmp_table_size=4MB # Lower than this breaks.
